@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-zinc-900 dark:text-zinc-200 dark:border-zinc-800 bg-white text-zinc-900;
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}


/**/


@keyframes growWidth {
  0% {
    width: 122px;
    height: 41px;
  }
  100% {
    width: 80px;
    height: 41px;
  }
}


.animation1 {
  animation-name: growWidth;
  animation-duration: 0.3s, 0.3s;
  animation-timing-function: ease, ease;
  animation-fill-mode: both, both;
  animation-delay: 0s, 0.3s; 
} 
 

@keyframes growWidth2 {
  0% {
    width: 100px;
    height: 41px;
  }
  100% {
    width: 132px;
    height: 41px;
  }
}


.animation2 {
  animation-name: growWidth2;
  animation-duration: 0.3s, 0.3s;
  animation-timing-function: ease, ease;
  animation-fill-mode: both, both;
  animation-delay: 0s, 0.3s; 
}

body::-webkit-scrollbar-track
{
	background-color: #F5F5F500;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F500;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3f3f46;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}